@model Community.Models.Message

@{
    ViewBag.Title = "Create";
}
<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Message</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @if (ViewBag.Recipient == null)
        {
        <div class="form-group">
            @Html.LabelFor(model => model.RecipientID, "RecipientID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                
                <input type="text" name="RecipientID" id="RecipientID" class="form-control" />
                @Html.ValidationMessageFor(model => model.RecipientID, "", new { @class = "text-danger" })
            </div>
        </div>
        }
        else {
            <input type="hidden" name="RecipientID" id="RecipientID" value="@ViewBag.Recipient"/>
        }

        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Body, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Body, new { htmlAttributes = new { @class = "form-control", rows= 15 } })
                @Html.ValidationMessageFor(model => model.Body, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <label for="Saved">Not ready to send yet?</label>
                    @Html.EditorFor(model => model.Saved)
                    @Html.ValidationMessageFor(model => model.Saved, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-2">
                <input type="submit" id="submitBtn" value="Send" class="btn btn-primary" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2">
                <a href="@Url.Action("Index")" class="">Back to Messages</a>
            </div>
        </div>
    </div>
    <script>
        CKEDITOR.replaceAll();

        $(document).ready(function () {
            $("#RecipientID").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/Profile/ProfileList",
                        type: "POST",
                        dataType: "json",
                        data: {
                            prefix: request.term
                        },
                        success: function (data) {
                            response($.map(data, function (item) {
                                return { label: item.UserName, value: item.ID };
                            }));
                        }
                    });
                },
                messages: {
                    noResults: "", results: ""
                }
            });
        });
    </script>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
