@model IEnumerable<Community.Models.Message>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Body)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Read)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Saved)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Notified)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Admin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User1.Email)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Body)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Read)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Saved)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Notified)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Admin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User1.Email)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
