@model Community.Models.Message
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Details";
    string userID = User.Identity.GetUserId();
}

<div>
    <div class="row">
        <h4 class="col-xs-12 top-pad">
            @Html.DisplayFor(model => model.Title)
            <hr />
        </h4>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <b>From:</b> @Html.DisplayFor(model => model.User1.UserName)
        </div>
        <div class="col-sm-6">
            <b>To:</b> @Html.DisplayFor(model => model.User.UserName)
        </div>
        <div class="col-xs-12 vertical-padding">
            @Html.Raw(Model.Body)
        </div>
    </div>
    <div class="col-xs-12  text-right">@Html.ActionLink("Back to Messages", "Index")</div>
</div>
@if (Model.SenderID != userID)
{
    Html.RenderAction("Reply", "Message", new { messageID = Model.ID });
}
<script>CKEDITOR.replaceAll();</script>
