@model IEnumerable<Community.Models.Volunteer>

<h3>Volunteers</h3>
<h4>Unhandled</h4>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Confirmed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rejected)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Withdrawn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Accepted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.UserName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Confirmed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rejected)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Withdrawn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Accepted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.UserName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}
</table>

@{Html.RenderAction("Confirmed", "Volunteer", new { eventId = ViewBag.EventID });}
@{Html.RenderAction("Accepted", "Volunteer", new { eventId = ViewBag.EventID });}
@{Html.RenderAction("Rejected", "Volunteer", new { eventId = ViewBag.EventID });}
@{Html.RenderAction("Withdrawn", "Volunteer", new { eventId = ViewBag.EventID });}
