@model Community.Models.Report

@{
    ViewBag.Title = "Report Event";
}

<h2>Report</h2>
@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Event</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <div class="col-md-2">
                <label>Event</label>
            </div>
            <div class="col-md-10">
                <input type="hidden" id="ReportedEvent" name="ReportedEvent" value="@ViewBag.ReportedEvent"/>
                <a href="@Url.Action("Details", "Event", new { eventId = ViewBag.ReportedEvent })">@ViewBag.EventTitle</a>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2">
                <label for="Description" class="">Tell us why are reporting this event?</label> Please be specific, the more information you provide the better we'll be able to carry out our investigation and take the most appropriate action!
            </div>
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", rows = 15 } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
