@model Community.Models.EventPartialView
@{
    Layout = null;
}

<div class="panel panel-default">
    <div class="row text-center">
        <h3>
            Events
            <span class="label label-success">@Model.Total</span>
        </h3>
        <div class="col-xs-12">
            <canvas id="eventChart" width="400" height="200"></canvas>
        </div>
        <script>
            var Labels = "@Model.Labels".split(",");
            var TotalCreated = "@Model.TotalCreated".split(",");
            var TotalUnpublished = "@Model.TotalUnpublished".split(",");
            var TotalCancelled = "@Model.TotalCancelled".split(",");
            var TotalSuspended = "@Model.TotalSuspended".split(",");

            var ctx = document.getElementById("eventChart");
            var myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: Labels,
                    datasets: [
                        {
                            type: 'line',
                            label: 'Events Created',
                            data: TotalCreated,
                            fill: true,
                            lineTension: 0.1,
                            backgroundColor: "rgba(223, 240, 216,0.5)",
                            borderColor: "rgba(92, 184, 92,1)",
                            borderCapStyle: 'butt',
                            borderDash: [],
                            borderDashOffset: 0.0,
                            borderJoinStyle: 'miter',
                            pointBorderColor: "rgba(92, 184, 92,1)",
                            pointBackgroundColor: "#fff",
                            pointBorderWidth: 1,
                            pointHoverRadius: 5,
                            pointHoverBackgroundColor: "rgba(92, 184, 92,1)",
                            pointHoverBorderColor: "rgba(220,220,220,1)",
                            pointHoverBorderWidth: 2,
                            pointRadius: 1,
                            pointHitRadius: 10,
                            spanGaps: false,
                        },
                        {
                            type: 'line',
                            label: 'Unpublished',
                            data: TotalUnpublished,
                            fill: false,
                            lineTension: 0.1,
                            backgroundColor: "rgba(252, 248, 227,0.5)",
                            borderColor: "rgba(240, 173, 78,1)",
                            borderCapStyle: 'butt',
                            borderDash: [],
                            borderDashOffset: 0.0,
                            borderJoinStyle: 'miter',
                            pointBorderColor: "rgba(240, 173, 78,1)",
                            pointBackgroundColor: "#fff",
                            pointBorderWidth: 1,
                            pointHoverRadius: 5,
                            pointHoverBackgroundColor: "rgba(240, 173, 78,1)",
                            pointHoverBorderColor: "rgba(220,220,220,1)",
                            pointHoverBorderWidth: 2,
                            pointRadius: 1,
                            pointHitRadius: 10,
                            spanGaps: false,
                        },
                        {
                            type: 'line',
                            label: 'Cancelled Events',
                            data: TotalCancelled,
                            backgroundColour: "rgba(250, 255, 157,1)",
                            pointBackgroundColor: "rgba(245, 255, 0,1)",
                            pointBorderColor: "rgba(245, 255, 0,1)",
                            fill: false,
                            lineTension: 0.1,
                            borderColor: "rgba(245, 255, 0,1)",
                            borderCapStyle: 'butt',
                            borderDash: [],
                            borderDashOffset: 0.0,
                            borderJoinStyle: 'miter',
                            pointBackgroundColor: "#fff",
                            pointBorderWidth: 1,
                            pointHoverRadius: 5,
                            pointHoverBorderColor: "rgba(220,220,220,1)",
                            pointHoverBorderWidth: 2,
                            pointRadius: 1,
                            pointHitRadius: 10,
                            spanGaps: false
                        },
                        {
                            type: 'line',
                            label: 'Suspended Events',
                            data: TotalSuspended,
                            backgroundColour: "rgba(242, 222, 222,1)",
                            pointBackgroundColor: "rgba(217, 83, 79,1)",
                            pointBorderColor: "rgba(217, 83, 79,1)",
                            fill: false,
                            lineTension: 0.1,
                            borderColor: "rgba(217, 83, 79,1)",
                            borderCapStyle: 'butt',
                            borderDash: [],
                            borderDashOffset: 0.0,
                            borderJoinStyle: 'miter',
                            pointBackgroundColor: "#fff",
                            pointBorderWidth: 1,
                            pointHoverRadius: 5,
                            pointHoverBorderColor: "rgba(220,220,220,1)",
                            pointHoverBorderWidth: 2,
                            pointRadius: 1,
                            pointHitRadius: 10,
                            spanGaps: false
                        }]
                },
                options: {
                    responsive: true,
                }
            });
        </script>
    </div>
</div>