@model Community.Models.EmailExtendedModel
@using System.Configuration;
To: @Model.To
Bcc: @Model.ReplyEmail
From: @Model.From
Subject: @Model.Subject

Content-Type: text/html; charset=utf-8

<html>
<body>
    <nav>
        <div style="width:100%;max-width:100%; background-color: #47146a;">
            <a href="https://theneighbourhub.online" style="max-height:70px;padding-left:1em;">
                @Html.EmbedImage("~/Content/Images/email-logo.png", "NeighbourHub Logo")
            </a>
        </div>
    </nav>
    <article>
        <p>Hi @Model.RecipientName,</p>
        <div>@Html.Raw(Model.Message)</div>
        <p>
            Kind Regards,
            <br />
            <br />
            @Model.SenderName<br/>
            <b>NeighbourHub Team Member</b>
        </p>
    </article>
    <footer>
        <p>Please do not reply to this email. Emails to this address will not be answered. If you need to contact us further please contact us at <b>@Model.ReplyEmail</b> (Don't forget to forward this email so that we can better handle your query!)</p>
        <p>Copyright &copy; @DateTime.Now.Year NeighbourHub</p>
    </footer>
</body>
</html>

