@using System.Configuration;
@{
    var image = ViewBag.SocialImage != "" && ViewBag.SocialImage != null ? ViewBag.SocialImage : "~/Content/Images/fb-tile-rectangle.jpg";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="32x32" href="@Url.Content("~/Content/favicon-32x32.png")">
    <link rel="icon" type="image/png" sizes="16x16" href="@Url.Content("~/Content/favicon-16x16.png")">
    <title>@ViewBag.Title - NeighbourHub</title>
    <meta property="description" content="@ViewBag.Description"/>
    <meta property="author" content="NeighbourHub" />
    <meta property="og:site_name" content="NeighbourHub">
    <meta property="og:title" content="@ViewBag.Title - NeighbourHub">
    <meta property="og:description" content="@ViewBag.Description">
    <meta property="og:image" content="@Url.Content(image)">
    <meta property="og:url" content="@Request.Url.AbsoluteUri">
    <meta property="fb:app_id" content="@ConfigurationManager.AppSettings["FacebookAppId"]" />

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@Url.Content(image)">
    <meta name="twitter:title" content="@ViewBag.Title - NeighbourHub">
    <meta name="twitter:description" content="@ViewBag.Description">
    <!--<meta name="twitter:creator" content="@ConfigurationManager.AppSettings["TwitterUser"]"> -->
    <meta name="twitter:image:src" content="@Url.Content(image)">
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img src="~/Content/Images/logo.png" style="" class="navbar-logo" />
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <!--<div class="container-fluid">
        <div class="alert alert-warning">
            <strong>Warning!</strong> This is a website created as a Final Year University Project for Loughborough University. You will <b>NOT</b> be able to sign up or access any of the functionality that requires a user account without prior permission! For test credentials, please contact adam@adamchappell.com
        </div>
    </div>-->
    <div class="container@(ViewBag.FullWidth == true ? "-fluid" : "") body-content">
        @RenderBody()
    </div>
    <hr />
    @if (Request.Cookies["CookiePermission"].Value.ToString() == "false" || Request.Cookies["CookiePermission"].Value == null)
    {
        <footer id="cookieFooter" class="container-fluid">
            <div class="container">
                <p class="col-xs-12 col-md-10 col-lg-9">This website uses cookies to ensure you get the best experience on our website. By continuing to use this site you accept the use of cookies. <a href="@Url.Action("Cookies","Home")">Click here</a> to learn more about how we use cookies.</p>
                <div class="col-xs-12 col-md-2 col-lg-3">
                    <button type="button" class="btn btn-default center-block" href="javascript:void()" onclick="CookieAccept();">Accept</button>
                </div>
            </div>
        </footer>
    }
    <footer>
        <div class="container">
            <div class="col-xs-12 col-sm-4 footer-logo">
                <img src="@Url.Content("~/Content/Images/logo-greyscale.png")" />
            </div>
            <div class="col-xs-12 col-sm-8">
                <div class="col-xs-12 text-right footer-center footer-darkgrey footer-social">
                    <a><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a>
                    <a><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
                    <a><i class="fa fa-google-plus fa-2x" aria-hidden="true"></i></a>
                </div>
                <p class="col-xs-12 footer-center footer-darkgrey vertical-padding">@Html.ActionLink("Terms and Conditions", "Terms", "Home") | @Html.ActionLink("Cookie Policy", "Cookies", "Home")</p>
            </div>
            <p class="col-xs-12 footer-darkgrey text-center">NeighbourHub &copy; @DateTime.Now.Year</p>
        </div>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("scripts", required: false)
</body>
</html>
