@using Microsoft.AspNet.Identity
@using Community.Helpers
@{
    string user = User.Identity.GetUserId();
    int notifications = @NotificationHelper.Unread(user);
}

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @if (UserHelper.isAdmin(user) == true)
                {
                    <a href="@Url.Action("Index", "Admin")" title="Dashboard" class="hidden-xs"><i class="fa fa-tachometer" aria-hidden="true"></i></a>
                    <a href="@Url.Action("Index", "Admin")" title="Dashboard" class="visible-xs"><i class="fa fa-tachometer" aria-hidden="true"></i> Dashboard</a>
                }
                else {
                    <a href="@Url.Action("Index", "Manage")" title="My Hub"><i class="fa fa-home" aria-hidden="true"></i> My Hub</a>
                }
            </li>
            <li>
                <a class="hidden-xs" href="@Url.Action("Index", "Notification")"><i class="fa fa-bell" aria-hidden="true"></i>@if(notifications > 0) {<span class="label label-danger">@notifications</span>}</a>
                <a class="visible-xs" href="@Url.Action("Index", "Notification")"><i class="fa fa-bell" aria-hidden="true"></i> Notifications @if (notifications > 0){<span class="label label-danger">@notifications</span>}</a>
            </li>
            <li>
                <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
            </li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
