@model IEnumerable<Community.Models.Notification>

@{
    ViewBag.Title = "My Notifications";
}

<h2>My Notifications</h2>

<table class="table vertical-center">

@foreach (var item in Model) {
    <tr id="not-@item.ID" data-notification-id="@item.ID" data-read="@item.Viewed" class="notification @(item.Viewed != true?"active":"")">
        <td>
            <h4>@item.Title</h4>
            <p>@item.Description</p>
        </td>
        <td class="vertical-center">
            <a href="@Url.Content(@item.Link)" class="btn btn-info vertical-center">Follow Action</a>
        </td>
    </tr>
}

</table>

@section Scripts {
    @Scripts.Render("~/Scripts/Notification.js")
}
