@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome</h1>
    <p class="lead"></p>
    <p></p>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-8">
        <ul>
            <li>@Html.ActionLink("Event", "Index", "Event")</li>
            <li>@Html.ActionLink("Profile", "Index", "Profile")</li>
            <li>@Html.ActionLink("Address", "Index", "Address")</li>
            <li>@Html.ActionLink("Organisation", "Index", "Organisation")</li>
            <li>@Html.ActionLink("Volunteer", "Index", "Volunteer")</li>
            <li>@Html.ActionLink("Skill", "Index", "Skill")</li>
            <li>@Html.ActionLink("User Skill", "Index", "UserSkill")</li>
            <li>@Html.ActionLink("Interests", "Index", "Interest")</li>
            <li>@Html.ActionLink("User Interests", "Index", "UserInterest")</li>
            <li>@Html.ActionLink("Role", "Index", "Role")</li>
            <li>@Html.ActionLink("User Role", "Index", "UserRole")</li>
            <li>@Html.ActionLink("Tag", "Index", "Tag")</li>
            <li>@Html.ActionLink("Event Tag", "Index", "EventTag")</li>
            <li>@Html.ActionLink("Information", "Index", "Information")</li>
            <li>@Html.ActionLink("Report", "Index", "Report")</li>
            <li>@Html.ActionLink("Transaction", "Index", "Transaction")</li>
            <li>@Html.ActionLink("Message", "Index", "Message")</li>
        </ul>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
        @Html.Partial("_Search", "Index")
    </div>
</div>
