@model Community.Models.Event
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
@using (Html.BeginForm("Create", "Event", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Event</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="col-xs-12 col-md-6">
            <div class="form-group">
                <label class="col-xs-8" for="VolunteerQuantity">Where do you need help?</label>
                <div class="col-md-9">
                    @Html.DropDownList("AddressID", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.AddressID, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-3">
                    @Html.ActionLink("Add New", "Create", "Address", new { @class = "text-right" })
                </div>

            </div>
            <div class="form-group">
                <label class="col-xs-8" for="Title">Event Title</label>
                <div class="col-xs-12">
                    @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-12">
                    <label for="ShortDescription">Event Summary</label>
                    <span>This should be a small description of what you need help with (No more than 200 Characters)</span>
                </div>
                <div class="col-xs-12">
                    @Html.EditorFor(model => model.ShortDescription, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ShortDescription, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-12">
                    <label for="LongDescription">Event Description</label>
                    <span>Be as descriptive as possible, the more you can tell us what you need help with and why you need help with it, the greater chance we have of getting you help.</span>
                </div>
                <div class="col-xs-12">
                    @Html.TextAreaFor(model => model.LongDescription, new { @class = "form-control no-resize editor", rows = "15" })
                    @Html.ValidationMessageFor(model => model.LongDescription, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
            <div class="form-group">
                <label class="control-label col-xs-8" for="VolunteerQuantity">How many neighbours do you need?</label>
                <div class="col-xs-4">
                    @Html.EditorFor(model => model.VolunteerQuantity, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.VolunteerQuantity, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-xs-8" for="Points">How many tokens are you willing to offer?</label>
                <div class="col-xs-4">
                    @Html.EditorFor(model => model.Points, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Volunteers, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 text-center">
                    <h5>When do you need help?</h5>
                </div>
                <div class="col-xs-12 text-center">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="col-xs-12" for="Date">Date</label>
                            <div class="col-xs-10 col-xs-offset-1">
                                @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="col-xs-12" for="Time">Time</label>
                            <div class="col-xs-10 col-xs-offset-1">
                                @Html.EditorFor(model => model.Time, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Time, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-8" for="Length">How long do you think help is needed? (in hours)</label>
                <div class="col-xs-3">
                    @Html.EditorFor(model => model.Length, new { htmlAttributes = new { @class = "form-control", min = 1, max = 12 } })
                    @Html.ValidationMessageFor(model => model.Length, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-12" for="DateInfo">Is there anything else about when you want help that a volunteer should know?</label>
                <div class="col-xs-12">
                    @Html.EditorFor(model => model.DateInfo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DateInfo, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-xs-3" for="PictureURL">Image Upload</label>
                <div class="col-md-9">
                    @Html.TextBoxFor(model => model.PictureURL, new { type = "file", accept = "image/*" })
                </div>
            </div>
        </div>

        <div class="col-xs-12">
            <h4>Add Tags</h4>
            <div class="col-xs-12 col-sm-6 col-md-4 input-group">
                @Html.DropDownList("Name", new SelectList(ViewBag.Tags, "ID", "Name"), htmlAttributes: new { id = "tagSelect", @class = "form-control" })
                <div class="input-group-btn">
                    <a id="tagAddBtn" class="btn btn-primary">Add</a>
                </div>
                <input type="hidden" value="" id="Tags" name="Tags" />
            </div>
            <div class="col-xs-12 col-sm-6" id="tagList"></div>
        </div>

        <div class="row">
            <div class="col-xs-6">
                <div class="form-group top-pad-2">
                    <div class="col-xs-12">
                        <label for="Published">I'm ready to post my event</label> @Html.EditorFor(model => model.Published)
                    </div>
                    <div class="col-xs-12">
                        @Html.ValidationMessageFor(model => model.Published, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="col-xs-6">
                <div class="form-group top-pad-2">
                    <div class="col-md-10 pull-right">
                        <input type="submit" value="Create" class="btn btn-success" />
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script>
        
    </script>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/Event.js")
}
