@model Community.Models.Event

@{
    ViewBag.Title = "Details";
}
<script>
    function volunteer() {
        var data = {EventId: @Html.Raw(Model.ID)};
        var success = function(data){
            if(data.success)
                alert("success");
            else
                alert("failure");
        };
        var failure = function(data) {
            alert("Unable to Volunteer for this event");
        };

        ajax('/Volunteer/Volunteer', data, success, failure);
    }
</script>
<h2>Details</h2>
<div>
    <h4>Event</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HostID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HostID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShortDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShortDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LongDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LongDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Created)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Edited)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Edited)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Repeated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Repeated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RepeatIncrement)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RepeatIncrement)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Length)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Length)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AM1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AM1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AM2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AM2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AM3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AM3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AM4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AM4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AM5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AM5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AM6)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AM6)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AM7)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AM7)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PM1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PM1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PM2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PM2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PM3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PM3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PM4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PM4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PM5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PM5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PM6)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PM6)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PM7)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PM7)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateInfo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateInfo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Suspended)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Suspended)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address.UserID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address.UserID)
        </dd>

    </dl>
</div>
@{Html.RenderAction("Display", "EventTag", new { eventId = Model.ID});}
<p>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <a id="volunteer" href="javascript:void();" onclick="volunteer()">Volunteer</a>
    }
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
