@model PagedList.IPagedList<Community.Models.EventSearchView>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Search";
}
<h2>Search</h2>
<div class="row">
    <div class="col-xs-12 @(ViewBag.Search != true ? "col-md-6 col-md-offset-3" : "col-md-3")">
        @using (Html.BeginForm("Search", "Event"))
        {
            <div class="col-xs-12">
                <h4>Postcode</h4>
                <input class="form-control" aria-label="" name="postcode" placeholder="Postcode" type="text" value="@ViewBag.Postcode">
            </div>
            <div class="col-xs-12">
                <h4>Search Radius</h4>
                <select id="distanceSelect" name="distance" class="form-control">
                    <option value="0.5">0.5 Miles</option>
                    <option value="1">1 Mile</option>
                    <option value="2">2 Miles</option>
                    <option value="3">3 Miles</option>
                    <option value="4">4 Miles</option>
                    <option value="5">5 Miles</option>
                    <option value="10">10 Miles</option>
                </select>
            </div>
            <div class="col-xs-12">
                <h4>Sort Filter</h4>
                <div class="sortFilter">
                    <span>@Html.RadioButton("Sort", "Date Added") Date Added</span>
                    <span>@Html.RadioButton("Sort", "Date Soonest") Date Soonest</span>
                </div>
            </div>
            <div class="col-xs-12">
                <button type="submit" class="btn btn-primary col-xs-12">Search</button>
            </div>
            <script type="text/javascript">
                //choose previously searched value
                var distanceSelect = document.getElementById("distanceSelect");
                distanceSelect.value = @ViewBag.Distance;
            </script>
        }
    </div>
    <div class="col-xs-12 col-md-9">
        @if (ViewBag.Search == true)
        {
            foreach (var item in Model)
            {
                <div class="row vertical-center">
                    <div class="col-xs-8 col-sm-10">
                        <h3>@Html.DisplayFor(modelItem => item.Title)</h3>
                        <p>
                            <b>@item.Date.ToString("ddd d MMMM yyyy") - @Html.DisplayFor(modelItem => item.Time)</b> (@Html.DisplayFor(modelItem => item.Length) Hours)
                            <br />
                            @Html.DisplayFor(modelItem => item.Description)
                        </p>

                    </div>
                    <div class="col-xs-4 col-sm-2 top-pad-2">
                        <a href="@Url.Action("Details", "Event", new { id = item.ID })" class="btn btn-success">Details</a>
                        <p class="top-pad">@Html.DisplayFor(modelItem => item.Distance) Miles</p>
                    </div>
                </div>
            }
            if (Model.Count() == 0)
            {
                <h3>Sorry, we couldn't find any events near you!</h3>
                <p>
                    Please try either:
                    <ul>
                        <li>Expanding your search radius</li>
                        <li>Reduce the number of filters in your search</li>
                        <li>Try searching in another location</li>
                    </ul>
                </p>
            }
            else {
                <div class="pagerSection">
                    @Html.PagedListPager(Model, page => Url.Action("Search", new { page, postcode = ViewBag.Postcode, distance = ViewBag.Distance }))
                </div>
            }
        }
    </div>
</div>